extends layout

block content
  .intro-section.bg-dark.text-light.py-5
    .container
      .row.justify-content-center.align-items-center
        .col-md-8.text-center
          h1.display-3.mb-4 Welcome to My Contacts Database App
          p.lead.mb-4 Hello i'm Dasaradh Balusu i made this is a powerful and intuitive application to manage your contacts efficiently. Here you manage everything from edit to delete and even add new contacts with button below.
          a.btn.btn-primary.btn-lg(href="/contacts") Explore Contacts Database
