doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My Application
    link(rel="stylesheet", href="/Users/dasradhbalusu/contact-database-app/node_modules/bootstrap.min.css")
    style.
      /* Custom CSS */
      body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        color: #333;
        padding-top: 50px; /* Adjust as needed */
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
      }
      h1 {
        color: #007bff;
        text-align: center;
        margin-bottom: 30px;
      }
      /* Add more styles as needed */

  body
    block content
